body{
    font-size: 80px;
    color: white;
    background: linear-gradient(76.8deg, rgb(121, 45, 129) 3.6%, rgb(36, 31, 98) 90.4%);
}

h1{
    font-size: 80px ;
    background: -webkit-linear-gradient(#e1dd7d, #378a04);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}